# replace CRLF by LF when writing these files to the database
# keep LF when checking out of the repository
*.py eol=lf whitespace
*.c eol=lf whitespace
*.h eol=lf whitespace
*.m eol=lf whitespace
*.rst eol=lf whitespace
*.md eol=lf whitespace
*.txt eol=lf whitespace
*.sh eol=lf whitespace
*.yml eol=lf whitespace

*.jpg binary
*.png binary
