tulip/_version.py
.pytest_cache/
htmlcov/
.mypy_cache/
.pytype/
*~
*.log
*.out
*parsetab.py
*.gr1
*.gr1c

*.txt
!/doc/**/*.txt

*.xml
*.m
__pycache__
*.pyc
*.egg-info
.DS_Store
._.DS_Store
*.png
*.PNG
*.pdf
*.PDF
*.svg
*.dot
*.swp
/build/
/dist/
/MANIFEST
/.coverage
/tests/cover/
/tests/ltl2vl-verilog.v
/tests/uct.uct
/tests/*.spc

.ipynb_checkpoints/
