tulip/_version.py
htmlcov/
*~
*.log
*.out
*parsetab.py
*.gr1
*.gr1c

*.txt
!/doc/**/*.txt

*.xml
*.m
*.pyc
*.egg-info
.DS_Store
._.DS_Store
*.png
*.PNG
*.pdf
*.PDF
*.svg
*.dot
*.swp
/build/
/dist/
/MANIFEST
/.coverage
/tests/cover/
