recursive-include examples *.py README
include run_tests.py
include tests/*.py
include tests/pytest.ini
include README.rst
include LICENSE
include doc/*
exclude doc/*.sh
include tulip/py.typed
recursive-include contrib *
include extern/README
include extern/*.sh
