recursive-include examples *.py README
include run_tests.py
include tests/*.py
include README.rst
include LICENSE
include doc/*
exclude doc/*.sh
recursive-include contrib *
recursive-include extern *
