# usage: `pip install -r requirements.txt`
pip>=9.0.0
setuptools>=39.0.0

# easy extras
gr1py>=0.2.0

# extras (uncomment as needed)
# cvxopt==...  # for faster polytopic operations.
    # Choose the version of `cvxopt` based on
    # what is required by the version of the
    # package `polytope` that is installed.
# matplotlib  # for plots

# tests
mock

# dev
gitpython==3.1.32
